<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>Layout.F74E2726-9FFD-4D98-A16D-66F1FD9D09D9</string>
		<key>options</key>
		<dict>
			<key>backgroundImageName</key>
			<string>dmg_background.png</string>
			<key>fontSize</key>
			<integer>12</integer>
			<key>iconSize</key>
			<integer>128</integer>
			<key>layoutItems</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.12D1E4C4-997C-45F1-BD14-BE6B01B6A6B5</string>
					<key>name</key>
					<string>Module Creator.app</string>
					<key>position</key>
					<string>{208, 160}</string>
					<key>type</key>
					<string>file</string>
				</dict>
				<dict>
					<key>identifier</key>
					<string>LayoutItem.3D868B5A-064D-49CD-9B77-90E62D473F06</string>
					<key>name</key>
					<string>Applications</string>
					<key>position</key>
					<string>{608, 160}</string>
					<key>type</key>
					<string>applications</string>
				</dict>
			</array>
			<key>windowOriginTopLeft</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.2.2</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.Layout</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
