<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>Configuration.83CBFC87-BC65-47E5-B65C-B8A5F54048ED</string>
		<key>options</key>
		<dict>
			<key>customIcon</key>
			<integer>1</integer>
			<key>encryption</key>
			<integer>0</integer>
			<key>format</key>
			<integer>13</integer>
			<key>internetEnabled</key>
			<false/>
			<key>layoutIdentifier</key>
			<string>Layout.F74E2726-9FFD-4D98-A16D-66F1FD9D09D9</string>
			<key>licenseIdentifier</key>
			<string>License.111858AA-47A9-4370-A3F2-7B9298D71A8A</string>
			<key>optimizeForRestores</key>
			<false/>
			<key>segmentSize</key>
			<integer>100</integer>
			<key>useSegments</key>
			<false/>
		</dict>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.2.2</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.Configuration</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
