<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<dict>
		<key>identifier</key>
		<string>License.111858AA-47A9-4370-A3F2-7B9298D71A8A</string>
	</dict>
	<key>documentCreator</key>
	<string>DropDMG 3.2.2</string>
	<key>documentType</key>
	<string>com.c-command.DropDMG.License</string>
	<key>formatVersion</key>
	<integer>1</integer>
</dict>
</plist>
