<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="0703966C-641A-4227-BE66-B0DD60DA292D" 
           Name="Integra Live" 
           Language="1033" 
           Version="!(bind.FileVersion.IntegraServer.exe)" 
           Manufacturer="Birmingham Conservatoire" 
           UpgradeCode="2720B2AB-E5AA-4BCE-8F61-8F5ECB2193C3">
    
		<Package InstallerVersion="300" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">

      <Merge Id="CRT" Language="0" SourceFile="c:\Program Files\Common Files\Merge Modules\microsoft_vc100_crt_x86.msm" DiskId="1" />

      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut" Guid="88CD27C2-ECC0-478D-B41F-2C6CA1B85CE3">
          <Condition>INSTALLDESKTOPSHORTCUT</Condition>
          <RegistryKey Root="HKCU" Key="Integra Live" Action="createAndRemoveOnUninstall">
            <RegistryValue Name="Integra Live Desktop Shortcut" Value="1" Type="integer" KeyPath="yes"/>
          </RegistryKey>
          <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Integra Live" ShortName="Integra" Target="[INSTALLLOCATION]gui\Integra Live.exe"/>
        </Component>
      </Directory> 

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Integra Live">
          <Directory Id="ModuleDeveloperSDKFolder" Name="Module Developer SDK"/>

          </Directory>
    </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="Integra Live">
          <Directory Id="GUILOCATION" Name="gui">

            <Component Id="ExecutableComponent" Guid="EDE975B4-3357-43C9-B0AB-7BD608AD6F04">
              <File Id="ExecutableFile" KeyPath="yes" Source="$(var.SourceDirectory)\gui\Integra Live.exe" />

              <ProgId Id="IntegraLive.integra" Description="Integra File" Icon='IntegraIcon.ico'> 
                  <Extension Id="integra" ContentType="application/zip">
                    <Verb Id="open" Command="Open" TargetFile="ExecutableFile" Argument="%1" />
                  </Extension>

                  <Extension Id="ixd" ContentType="text/xml">
                  </Extension>
                  <Extension Id="tixd" ContentType="text/xml">
                  </Extension>
                  <Extension Id="bixd" ContentType="text/xml">
                  </Extension>
                  <Extension Id="mixd" ContentType="text/xml">
                  </Extension>
              </ProgId>

              <ProgId Id="IntegraLive.module" Description="Integra Module" Icon='ModuleIcon.ico'>
                <Extension Id="module" ContentType="application/zip">
                  <Verb Id="install" Command="Install" TargetFile="ExecutableFile" Argument="%1" />
                </Extension>
              </ProgId>

              <ProgId Id="IntegraLive.bundle" Description="Integra Module Bundle" Icon='BundleIcon.ico'>
                <Extension Id="bundle" ContentType="application/zip">
                  <Verb Id="install" Command="Install" TargetFile="ExecutableFile" Argument="%1" />
                </Extension>
              </ProgId>

            </Component>

            <Component Id="ModuleCreatorExecutableComponent" Guid="EDE975B4-3357-43C9-B0AB-7BD608AD6F05">
              <File Id="ModuleCreatorExecutableFile" KeyPath="yes" Source="$(var.SourceDirectory)\SDK\ModuleCreator\Module Creator.exe" />
            </Component>

          </Directory>
        </Directory>
			</Directory>
		</Directory>


    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="2AF97BFB-CD9F-4F42-94DB-056F2051BCD7">
        <Shortcut Id="ApplicationStartMenuShortcut"
            Name="Integra Live"
            Description="A software environment to make music with live electronics"
            Target="[INSTALLLOCATION]gui\Integra Live.exe"
            WorkingDirectory="INSTALLLOCATION"/>
        <RemoveFolder Id="ApplicationProgramsFolder"
            On="uninstall"/>
        <RegistryValue Root="HKCU"
            Key="Software\Integra Live\Integra Live"
            Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ModuleDeveloperSDKFolder">
      <Component Id="ModuleCreatorApplicationShortcut" Guid="2AF97BFB-CD9F-4F42-94DB-056F2051BCD8">
        <Shortcut Id="ModuleCreatorApplicationStartMenuShortcut"
            Name="Integra Module Creator"
            Description="A tool to make Integra Live Modules"
            Target="[INSTALLLOCATION]sdk\ModuleCreator\Module Creator.exe"
            WorkingDirectory="INSTALLLOCATION"/>
        <RemoveFolder Id="ModuleDeveloperSDKFolder"
            On="uninstall"/>
        <RegistryValue Root="HKCU"
            Key="Software\Integra Live\Integra Module Creator"
            Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>


    <Feature Id="ProductFeature" Title="Integra Live" Level="1">

      <ComponentGroupRef Id="InstallationFiles"/>
        
      <ComponentRef Id="ExecutableComponent" />

      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentGroupRef Id="Product.Generated" />
      <MergeRef Id="CRT"/>
      
    </Feature>

    <Feature Id="ModuleCreatorFeature" Title="Integra Module Creator" Level="1">

      <ComponentGroupRef Id="InstallationFiles"/>

      <ComponentRef Id="ModuleCreatorExecutableComponent" />

      <ComponentRef Id="ModuleCreatorApplicationShortcut" />
      <ComponentGroupRef Id="Product.Generated" />

    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_MyUI" />
    <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Integra Live" />

    <Property Id="WixShellExecTarget" Value="[#ExecutableFile]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>

    <WixVariable Id="WixUILicenseRtf" Value="gpl-2.0.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="installer_banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="installer_background.bmp" />

</Product>
</Wix>
